/* Heading */
header {
  background-color: #8eb897;
}

i.top-bar {
  font-size: 0.9rem;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.511));
  padding-right: 0.6rem;
}

i.top-bar:hover {
  cursor: pointer;
  color: white;
}

i.white {
  color: white;
}

/* Subhead */
div#subhead-div {
  background-color: #c3e8bd;
}

h2#subhead {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  font-family: Merriweather, sans-serif;
  font-size: 0.9rem;
}

/* Universal */
body {
  background-color: #f3f3f3;
}

.hidden {
  --fa-display: none;

  display: none;
}

img {
  width: 100%;
}

h1 {
  font-family: Merriweather, sans-serif;
}

/* Empty Bucket List Text */
p {
  text-align: center;
  font-size: 0.8rem;
}

/* Search Bar */
input#search {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  padding: 0.3rem 0.2rem;
  padding-left: 1.5rem;
  margin-right: 0.8rem;
  font-size: 0.8rem;
}

input#search::placeholder {
  color: #666;
}

i#magnify {
  position: relative;
  top: 1rem;
  left: 1.2rem;
  font-size: 0.8rem;
  color: #666;
}

/* Card */
hr {
  margin: 5px 0;
}

h2.country-name {
  margin: 0;
  font-size: 0.6rem;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 0.42rem;
  text-align: center;
  font-weight: 100;
}

div.country {
  background-color: white;
  border-radius: 0.3rem;
  line-height: 0.8rem;
  box-shadow: 4px 8px 10px grey;
  overflow: hidden;
  border: 0.1px solid black;

  /* Card Flip */
  position: absolute;
  backface-visibility: hidden;
}

div.flag {
  height: 110px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

i.fa-map-pin {
  color: #d46161;
  font-size: 0.5rem;
}

i.fa-money-bill {
  color: #8eb897;
  font-size: 0.5rem;
}

i.fa-language {
  color: #6fa2dd;
  font-size: 0.5rem;
}

i.card-plane {
  font-size: 0.6rem;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

span {
  font-size: 0.42rem;
  font-weight: bold;
}

button {
  font-size: 0.6rem;
  width: 100%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
}

#button-add {
  background-color: #c3e8bd;
}

#button-notes {
  background-color: #6fa2dd;
  color: white;
}

button:hover {
  /* background-color: white; */
  border: 1px solid black;
}

/* Notes Page */
div#flag-notes-page {
  padding-top: 5px;
}

textarea#notes-input {
  resize: none;
  width: 100%;
  font-size: 0.6rem;
}

h2#notes-heading {
  font-size: 0.8rem;
  padding-left: 10px 0;
  padding-bottom: 10px;
  margin: 0;
}

i#notes-edit-icon {
  font-size: 0.8rem;
  padding-bottom: 10px;
  cursor: pointer;
}

i#notes-edit-icon:hover {
  color: #8eb897;
}

.country-info-notes-page {
  text-align: left;
  font-size: 0.7rem;
  padding-bottom: 0.8rem;
}

h4 {
  font-size: 0.6rem;
  font-weight: 100;
  margin: 0;
  padding-bottom: 1rem;
}

i.note-icons {
  font-size: 0.8rem;
  padding-right: 15px;
}

button#notes-save-button {
  background-color: #c3e8bd;
  position: static;
  border: 1px solid black;
  width: fit-content;
  padding: 10px 30px;
}

button#notes-save-button:hover {
  background-color: white;
}

p#notes-saved {
  font-size: 0.6rem;
  text-align: left;
  margin: 0;
}

/* Card Flip */
div.country-wrapper {
  perspective: 600px;
}

div.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

div.country-back {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: rotateY(-180deg);
}
